<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - Flack</title>

       
    </head>

    <body>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {{ messages[0][1] }}
            {% endif %}
        {% endwith %}
        {% block content%}
        {% endblock %}


    </body>
</html>
